/* style the scrollbars */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #9BA2FF;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #707aff;
}

.fadeRight {
    animation: fadeRight 0.5s ease-in-out;
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeDown {
    animation: fadeDown 0.8s ease-in-out;
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.upDown {
    animation: upDown 1s ease-in-out infinite;
}

@keyframes upDown {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.blink {
    display: inline-block;
    margin-left: 2px;
    animation: blink 0.3s ease-in-out infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}